.leftPaneBox{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    font-family: sans-serif;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #909192;
}
::-webkit-scrollbar-thumb{
    background-color: #8a8484;
}
.leftPaneContainer{
    padding: 20px;
}
.leftPaneManu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftPaneMenyItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.leftPaneMenuIcon{
    margin-right: 20px;
}
.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.pagesYouLike{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(94, 94, 95);
}
.pageList{
    padding: 0;
    margin: 0;
}
.pageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;

}
.PageName{
    margin-left: 10px;
}