.rightPaneBox{ 
    flex: 3;
    height: calc(100vh - 50px);
    font-family: sans-serif;
    overflow: scroll;
    position: sticky;
    top: 50px;


}
.rightPaneContainer{
    padding: 20px 20px 0 0;

}
.adContainer{
    margin-top: 10px;
    font-family: 'Open Sans' sans-serif;
}
.sponsered{
    font-size: 20px;
    font-weight: bold;
    color: rgb(125, 129, 133);
}
.adImage{
    margin-top: 10px;
    border-radius: 5px;
    width: 98%;
}
.dirthdayContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.birthdayImage{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
.onlineFriendImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.birthdayText{
    margin-top: 10px;
}
.onlineFriend{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 9px 9px 25px -9px rgba(0,0,0,0.52); 
    box-shadow: 9px 9px 25px -9px rgba(0,0,0,0.52);
    border-radius: 10px;
    margin-bottom: 10px;
}
.onlineFriendImageContainer{
    display: flex;
    position: relative;
}
.onlineStatus{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(19, 226, 19);
    position: absolute;
    top: 30px;
    right: 0;
    border: 2px solid white;
}
.onlineFriendName{
    margin-left: 10px;

}